.project {
    margin-bottom: 50px;
}

#face {
    max-width: 100%;
    border-radius: 50%;
    padding: 20px 0;
    margin: auto;
    display: block;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    max-width: 560px;
    max-height: 315px;
}

.btn {
    margin-bottom: 5px;
}

@media (min-width: 768px) { 
    #hero {
        display: flex;
        align-items: center;
        padding: 35px 0;
    }

    #greeting {
        padding: 0 30px;
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    #hero {
        padding-bottom: 70px;
    }

    #greeting {
        font-size: 22px;
    }

    .project-content {
        display: flex;
        flex-direction: row-reverse;
    }

    .column {
        flex: 50%;
    }

    iframe {
        padding-left: 20px;
    }
}